html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
  font-family: "Acme", sans-serif;
  color: rgba(60, 69, 95, 0.877);
}

.test {
  color: #458533;
}
